<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.epam.spring"/>

    <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="location" value="database.properties"/>
    </bean>

    <bean id="databaseConnection" class="com.epam.spring.util.DatabaseConnection">
        <constructor-arg name="url" value="${db.url}"/>
        <constructor-arg name="password" value="${db.password}"/>
        <constructor-arg name="username" value="${db.username}"/>
    </bean>

    <bean id="catRepository" class="com.epam.spring.repository.CatRepositoryImpl" lazy-init="true"/>

</beans>